<div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <h1>Your Profile</h1>
        </div>
        <div class="col-sm-8">
            <div *ngIf="editForm.dirty" class="alert alert-info">
                <b>Information:</b> Any unsave data will be lost !!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <img src="{{ user?.photoUrl }}" alt="{{ user?.knownAs }}" class="card-img-top img-thumbnail" />
                <div class="card-body">
                    <div>
                        <h3>Age:</h3>
                        <p>{{ user?.age }}</p>
                    </div>
                    <div>
                        <h3>Last Active</h3>
                        <p>{{ user?.lastActive }}</p>
                    </div>
                    <div>
                        <h3>Member Since</h3>
                        <p>{{ user?.created }}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <button [disabled]="!editForm.dirty" (click)=" updateUser();editForm.reset(user)" form="editForm" class="btn btn-success btn-block w-100">
            Save
          </button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="Edit Profile">
                        <form #editForm="ngForm" id="editForm">

                            <h4>Discription</h4>
                            <textarea class="form-control" name="introduction" rows="6" [(ngModel)]="user.introduction"></textarea>
                            <h4>Looking For</h4>
                            <textarea class="form-control" name="lookingFor" rows="6" [(ngModel)]="user.lookingFor"></textarea>
                            <h4>Interests</h4>
                            <textarea class="form-control" name="interests" rows="6" [(ngModel)]="user.interests"></textarea>
                            <h3>Location</h3>
                            <div class="form-inline">
                                <label>City</label>
                                <input type="text" name="city" class="form-control" [(ngModel)]="user.city" />
                                <label>Country</label>
                                <input type="text" name="country" class="form-control" [(ngModel)]="user.country" />
                            </div>

                        </form>
                    </tab>
                    <tab heading="Photos">
                        <p>Photos will be here</p>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>